.filter {
  margin: 0 0 20px 0;

  &__title {
    margin: 0 0 10px 0;
  }
}

.form-line {
  margin: 0 0 10px 0;

  &__title {
    margin: 0 0 7px 0;
  }
  & label {
    margin: 0 0 0 15px;
  }
  & label:nth-child(2) {
    margin: 0;
  }
  & input[type='submit'] {
    margin: 0 15px 0 0;
  }
}